<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }}
<yandex>
  <remote_servers>
{% if clickhouse_clusters is defined and clickhouse_clusters %}
{% for cluster in clickhouse_clusters %}
{% for cluster_name, shards in cluster.items() %}
    <{{ cluster_name }}>
{% for shard_name, replicas in shards.items() | list %}
      <!-- {{ shard_name }} -->
      <shard>
        <internal_replication>true</internal_replication>
{% for replica in replicas %}
        <replica>
          <host>{{ replica['host'] }}</host>
          <port>{{ replica['port'] | default(9000) }}</port>
        </replica>
{% endfor %}
      </shard>
{% endfor %}
    </{{ cluster_name }}>
+{% endfor %}
+{% endfor %}
+{% endif %}
  </remote_servers>
</yandex>
